BODY {
  background-color: #eee;
}

#form-container {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 900px;
  margin: 10px auto;
  padding: 12px;
}

H1 {
  font-size: 22px;
  margin-top: 0px;
}
